@(message: String)

@main("BolBoard") {

<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">BolBoard</h3>
                </div>
            </div>
            <div id="login" style="display: none;">
                <div class="inner cover">
                    <h1 class="cover-heading">BolBoard</h1>

                    <p class="lead">BolBoard is an online game where you can challenge your friends</p>

                    <p class="lead">
                        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                        </fb:login-button>
                    <div id="status"></div>
                    </p>
                </div>
            </div>
            <div id="search" style="display: none;">
                <div class="row">
                    <input type="text" class="form-control"
                           placeholder="Search for an opponent..." id="searchInput", onkeyup="searchPlayer()">
                </div><!-- /.row -->
                <div id="searchResult" class="list-group">
                </div>
            </div>
            <div id="game" style="display: none;">
                <div class="row">
                    <div class="col-lg"><h3 id = "u1">Player 1</h3></div>
                </div>
                <br/><br/><br/>
                <div class="row">
                    <div id = "u1-large" class="col-xs-3">Large pit</div>
                    <div id = "u1-1" class="col-xs-1">6</div>
                    <div id = "u1-2" class="col-xs-1">6</div>
                    <div id = "u1-3" class="col-xs-1">6</div>
                    <div id = "u1-4" class="col-xs-1">6</div>
                    <div id = "u1-5" class="col-xs-1">6</div>
                    <div id = "u1-6" class="col-xs-1">6</div>
                    <div class="col-xs-3"></div>
                </div>
                <br/><br/><br/>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div id = "u2-1" class="col-xs-1">6</div>
                    <div id = "u2-2" class="col-xs-1">6</div>
                    <div id = "u2-3" class="col-xs-1">6</div>
                    <div id = "u2-4" class="col-xs-1">6</div>
                    <div id = "u2-5" class="col-xs-1">6</div>
                    <div id = "u2-6" class="col-xs-1">6</div>
                    <div id = "u2-large" class="col-xs-3">Large pit</div>
                </div>
                <br/><br/><br/>
                <div class="row">
                    <div class="col-lg"><h3 id = "u2">Player 2</h3></div>
                </div>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>Created by <a href="https://twitter.com/namiazad" target="_blank">@@namiazad</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

}
